:root{
    --p-color:#1C6DD0;
    --text-color:#171010;
    --tertiary-color:#FFF8F3;
    --text-dark-color:#171010;
    --button-hover-color: #4A3030;
    --medium-size: 36px;
    --title-size: 124px;
    --button-size: 24px;
    --button-small-size: 18px;
    --mini-title-size: 64px;
    --small-size: 18px;
    
}
*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100vw;
}

body{
    background-color: #FFF8F3; 
}

a, p{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Red Hat Display', sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: none;
    position: absolute;
    top: 0%;
}
.nav-title{
    font-family: 'The Nautigal', 'Roboto';
    font-size: 64px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
nav{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--tertiary-color);
    padding: 5rem 2rem 5rem 2rem;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    background-image: url("assets/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-desc {
    font-family: 'The Nautigal', 'Roboto';
    font-size: 28px;
    color: black;
    
    width: 50%;
    text-align: left;
}
.nav-desc .title{
    font-family: 'The Nautigal', 'Roboto';
    text-shadow: 2px 2px #171010 ;
    font-size: 240px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

.header img{
    height: 95vh;
    border-radius: 10px;
}

.desc1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color:#FFBCBC;
    width: 100%;
    
}
.hbd-img{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc1 img{
    object-fit: cover;
    border-radius: 10px;
    width: 670px;
    height: 450px;
    object-position: center;
}
.desc1 p{
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    width: 48%;
    font-size: 24px;
    
}
.gallery-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #FFBCBC;
}

.img-strip-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.gallery-title{
    font-size: 64px;
    padding: 2rem;
    text-shadow: 2px 2px #171010 ;
    color: white;
    
}

.img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31%;
}

.img-div img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
}
.img-div p{
    font-size: 36px;
    padding-top: 1rem;
    text-shadow: 2px 2px #171010 ;
    color: white;
}

.present-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #FFBCBC;
}

.present-title{
    font-size: 64px;
    padding: 2rem;
    text-shadow: 2px 2px #171010 ;
    color: white;
    text-align: center;
    width: 100%;
    
}
.present-strip-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.present-img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.present-img-div img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
}
.present-strip-div p{
    font-size: 36px;
    padding-top: 1rem;
    padding-left: 5rem;
    text-shadow: 2px 2px #171010 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.flower-strip-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.flower-img-div{
    display: flex;
    flex-direction: col
    umn;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.flower-img-div img{
    width: 500px;
    height: 700px;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
    border: 10px solid black;
}
.flower-strip-div p{
    font-size: 36px;
    padding-top: 1rem;
    padding-left: 5rem;
    text-shadow: 2px 2px #171010 ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

footer{
    width: 100%;
    padding: 3rem;
    background-color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p{
    text-align: center;
}